{% extends 'SiteRisingAionBundle:AionViews:index.html.twig' %}

{% block confirmeRegister %}
<body>				
<article class="content">
<div class="page-title">Square des inscriptions</div>
        <div class="img-page">
                <section class="p-cont">									
                    <p> Vous êtes maintenant inscrit sur Aion Rising !</br>
                        Vous pouvez dés maintenant voter pour le serveur et gagner des tools.</br></br>
                        
                        Bon jeu sur Aion Rising.
                    </p>
                </section>
        </div>

</article><!-- end .content -->	
{% endblock %}