<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link href="{{ asset('bundles/aionshop/css/bootstrap.css') }}" rel="stylesheet" type="text/css" >
    </head>

    <body>
 {% block shop %}
 {% endblock %}
 {% block infoitem %}
 {% endblock %} 
 {% block panier %}
 {% endblock %}
 {% block livraison %}
 {% endblock %}
 {% block page %}
 {% endblock %}
    </body>
</html>